.pull-request-title {
	display: inline-block;
	margin-bottom: 8px;

	font-size: 32px;
}

.pull-request-id {
	display: inline-block;
	vertical-align: middle;

	color: #888;
	font-size: 16px;
}
.pull-request-id span {
	display: inline-block;
	margin: 0 1px;
	vertical-align: middle;

	font-size: 24px;
}

.pull-request-status {
	display: inline-block;
	margin-top: 4px;
	margin-right: 16px;
	padding: 4px 8px;
	border-radius: 4px;
	vertical-align: top;

	font-size: 16px;
	color: #FFF;
}
.pull-request-status-opened {
	background-color: #2B3;
}
.pull-request-status-merged {
	background-color: #B2E;
}

.pull-request-status img {
	display: inline-block;
	height: 16px;
	margin-right: 4px;
	vertical-align: middle;
}

.pull-request-fork {
	display: block;
	font-size: 16px;
	color: #888;
}

.tags {
	display: block;
}
.tags .tag:first-child {
	margin-left: 0;
}