.tags {
	display: inline;
}

.tag {
	display: inline-block;
	margin-bottom: 2px;
	margin-left: 8px;
	padding: 4px 8px;
	border-radius: 4px;
	vertical-align: middle;
	font-size: 16px;
	text-decoration: none;
}

.tag-remove, .tag-add {
	display: inline-block;
	height: 12px;
	vertical-align: middle;
	margin-left: 8px;
	cursor: pointer;

	font-size: 24px;
	line-height: 12px;
}