.pull-requests {
	width: 896px;
	margin: 0 auto 16px;
	border-spacing: 0;

	border: 1px solid #DDF;
	border-radius: 4px;
}

.pull-requests td {
	width: auto;
	margin: 0;
	padding: 8px;
	vertical-align: top;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}
.pull-requests tr {
	cursor: pointer;
}
.pull-requests tr:hover {
	background-color: #EEF;
}

.pull-requests tr td {
	border-top: 1px solid #DDF;
}
.pull-requests tr:first-child td {
	border-top: none;
}

.pull-requests-bottom {
	display: block;
	color: #888;
	font-size: 14px;
}

.pull-request-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 8px;
	vertical-align: middle;
	margin-top: -2px;
	border-radius: 50%;
}
.pull-request-status-opened {
	background-color: #2B3;
}
.pull-request-status-merged {
	background-color: #B2E;
}

.pull-request-title {
	display: inline;
}

.pull-request-comments {
	display: inline-block;
	background-color: #DDD;
	padding: 4px 8px;
	border-radius: 4px;
	margin-left: 8px;

	font-size: 16px;
}


.navigation {
	width: 896px;
	margin: 16px auto;
}
.navigation > * {
	margin-left: 8px;
}
.navigation > *:first-child {
	margin-left: 0;
}