[submodule "src/workerout"]
	path = src/workerout
	url = C:/Users/Ivanq/Documents/ZeroNet/data/19onTt5fo8czADiefEoPhPigk281Z5dBXU/workerout.git
[submodule "src/jsdifflib"]
	path = src/jsdifflib
	url = https://github.com/cemerick/jsdifflib.git
[submodule "src/ZeroLib"]
	path = src/ZeroLib
	url = git@github.com:imachug/ZeroLib.git
