.repo {
	display: block;
	margin-top: 16px;
	padding: 3px 10px 3px 8px;
	border: 1px solid #D5D5D5;
	border-radius: 4px;
	cursor: pointer;

	background-color: #FCFCFC;
	background-repeat: no-repeat;

	font-size: 16px;
	line-height: 24px;
	text-decoration: none;

	transition: all .1s;
}
.repo:hover {
	background-color: #DDF;
}

.repo-title {
	font-size: 24px;
	line-height: 32px;
}

.repo-address {
	color: #888;
}

.repo-stars {
	display: inline-block;
	height: 24px;
	float: right;
	margin-top: 4px;
	margin-left: 8px;
	padding-left: 28px;
	border-radius: 8px;
	color: black;

	background-image: url(../../img/star.svg);
	background-size: auto 16px;
	background-repeat: no-repeat;
	background-position: 8px 4px;
}

.repo-downloaded {
	display: inline-block;
	height: 24px;
	width: 24px;
	float: right;
	margin-top: 4px;

	background-image: url(../../img/download.svg);
	background-size: auto 16px;
	background-repeat: no-repeat;
	background-position: 8px 4px;
}


.search {
	display: block;
	width: calc(100% - 16px);
	padding: 4px 8px;
	border-radius: 4px;
	border: 1px solid black;

	font-size: 16px;
}

.hint {
	display: block;
	margin: 16px 0;
	font-size: 16px;
}