<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />

		<title><%= htmlWebpackPlugin.options.title %></title>

		<meta name="keywords" content="<%= htmlWebpackPlugin.options.seo.keywords %>">
		<meta name="description" content="<%= htmlWebpackPlugin.options.seo.description %>">

		<base href="" target="_top" id="base">
		<script>base.href = document.location.href.replace("/media", "").replace("index.html", "").replace(/[&?]wrapper=False/, "").replace(/[&?]wrapper_nonce=[A-Za-z0-9]+/, "")</script>
	</head>
	<body>
		<div id="app"></div>
	</body>
</html>