.button, .select {
	display: inline-block;
	padding: 3px 10px 3px 8px;
	border: 1px solid #D5D5D5;
	border-radius: 4px;
	cursor: pointer;

	background-image: linear-gradient(to bottom, #FCFCFC 0%, #EEE 100%);
	background-repeat: no-repeat;

	font-weight: bold;
	white-space: nowrap;
	color: #333;
	font-size: 16px;
	line-height: 22px;
	text-decoration: none;
	text-shadow: 0 1px 0 #FFF;
}
.button:active, .select:active {
	background-image: linear-gradient(to top, #FCFCFC 0%, #EEE 100%);
}

.button-disabled, .button-disabled:active {
	cursor: not-allowed;
	background-image: linear-gradient(to bottom, #888 0%, #666 100%);
}

.button-blue {
	border-color: #2967A4;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);

	background-color: #3072B3;
	background-repeat: repeat-x;
	background-image: linear-gradient(to bottom, #599BDC 0%, #3072B3 100%);

	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
}
.button-blue:active {
	background-image: linear-gradient(to top, #599BDC 0%, #3072B3 100%);
}

.button-blue.button-disabled, .button-blue.button-disabled:active {
	cursor: not-allowed;
	background-image: linear-gradient(to bottom, #005283 0%, #236EB4 100%);
}

.button-big {
	padding: 4.5px 15px 4.5px 12px;
	border-radius: 6px;

	font-size: 24px;
	line-height: 33px;
}


.input {
	display: inline-block;
	padding: 3px 10px 3px 8px;
	border: 1px solid #D5D5D5;
	border-radius: 4px;

	background-image: linear-gradient(to bottom, #EEE 0%, #FCFCFC 100%);
	background-repeat: no-repeat;

	color: #000;
	font-size: 16px;
	line-height: 22px;
	text-decoration: none;
	text-shadow: 0 1px 0 #FFF;
}