.content {
	display: block;
	width: 896px;
	padding: 0 calc(50% - 448px);
	margin: 16px 0;
}

.middle {
	display: block;
	width: 896px;
	padding: 16px calc(50% - 448px) 0;
	background-color: #EEE;
	border-bottom: 1px solid #888;
}
.middle-buttons {
	float: right;
	vertical-align: top;
	margin-top: -40px;
}
.middle-button-margin {
	margin-left: 16px;
}
.publish, .button-star {
	display: none;
}

h1 {
	margin: 10px 0;
	font-size: 32px;
}
h2 {
	margin: 6px 0;
	font-size: 24px;
}

p, ul, ol {
	margin: 8px 0;
	font-size: 16px;
}

.center {
	text-align: center;
}

.info {
	display: block;
	width: 896px;
	padding: 0 calc(50% - 448px);
	margin: 16px 0;
}
.info-link {
	margin-left: 16px;
	font-size: 16px;
}
.info-link-nomargin {
	font-size: 16px;
}

.sidebar {
	position: absolute;

	display: block;
	width: 128px;
	padding-left: calc(50% - 448px);
	margin-top: 16px;
	margin-left: -144px;
}

/* Open / Closed */
.objects-header {
	background-color: #EEE;
}
.objects-header.objects-header td { /* Notice: No !important here! */
	padding: 0;
}
.objects-header:hover {
	cursor: default;
}
.objects-menu {
	display: inline-block;
	height: 100%;
	padding: 12px 16px;

	cursor: pointer;
	opacity: 0.6;

	color: #000;
	text-decoration: none;
}
.objects-menu.current {
	opacity: 1;
	font-weight: bold;
}
.objects-menu img {
	height: 16px;
	vertical-align: top;
}

/* Nothing here yet :( */
.nothing-here-yet.nothing-here-yet {
	display: none;
	cursor: default;
}

.repo-label {
	display: inline-block;
	padding: 4px;
	margin-left: 8px;
	vertical-align: top;

	background-color: #DDD;
	border-radius: 4px;

	font-size: 12px;
}


.image-placeholder {
	padding: 8px 16px;
	background-color: #EEE;
}